
        <mat-card>
          <mat-toolbar color="accent">Login Page</mat-toolbar>
          <form [formGroup]="loginForm">
                <mat-form-field>
                  <input matInput type="text" placeholder="Enter Email" formControlName="email">
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="text" placeholder="Enter Password" formControlName="password">
                </mat-form-field>
          </form>
          <button mat-raised-button color="accent" (click)="reset()">Login</button>
          <button mat-raised-button color="primary" (click)="createUser()">Sign Up! NOW!</button>
          <div>
            <button mat-raised-button class="fb">Continue with Facebook
              
            </button>
            <button mat-raised-button class="google">Continue with Google</button>
            
          </div>
        </mat-card>
        <div>
          <i class="fa-brands fa-google"></i>
        </div>
