@use '@angular/material' as mat;
@use 'custom-palettes-colors' as custom;

@include mat.core();


$movie-api-app-primary: mat.define-palette(custom.$my-carolina-palette);
$movie-api-app-accent: mat.define-palette(custom.$my-navy-palette);
$movie-api-app-warn: mat.define-palette(mat.$red-palette);


$movie-api-app-theme: mat.define-light-theme((
  color: (
    primary: $movie-api-app-primary,
    accent: $movie-api-app-accent,
    warn: $movie-api-app-warn,
  )
));


@include mat.all-component-themes($movie-api-app-theme);

html, body { height: 100%; }
body { 
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
